---
//utils
import { slugify, formatDate } from "../js/utils";
// components importear
import Link from "./Link.astro";
const { frontmatter, tagType } = Astro.props;
const Tag = tagType;
const { title, date, author, image, image2, description, category } =
  frontmatter.data;
---

<!-- <pre>{ JSON.stringify(frontmatter,null,2)}</pre> -->
<article class="card mt-8">
  <small class="">
    <a
      href={`/category/${slugify(category)}/`}
      class="text-white bg-yellow-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-2 py-2 mr-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-600 focus:outline-none dark:focus:ring-blue-800 mt-4"
      >{category}</a
    >
  </small>

  <div class="card card-compact bg-white-light shadow-xl p-4">
    <figure>
      <a href={`/blog/${frontmatter.slug}`} aria-hidden="true" tabindex="-1">
        <img src={image.src} alt={image.alt} width="200" />
      </a>
    </figure>
    <div class="card-body p-8">
      <h2 class="card-title dark:green-dark">
        <a href={`/blog/${frontmatter.slug}`} class="hover:text-primary"
          >{title}</a
        >
      </h2>
      <!-- <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> - {
          formatDate(date.toDateString())
        }
      </small> -->
      <p class="my-4">{description}</p>
      <div class="card-actions justify-end">
        <Link
          href={`/blog/${frontmatter.slug}`}
          isFilled={true}
          text="Leer Post"
          style="secondary"
        />
      </div>
    </div>
  </div>

  <!-- <a href={`/blog/${frontmatter.slug}`} aria-hidden="true" tabindex="-1">
      <img class="mt-2" src={image.src} alt={image.alt} width="200" />
    </a> -->
</article>
