---
//utils
import { slugify, formatDate } from "../js/utils";
// components importear
import Link from "./Link.astro";
const { frontmatter, tagType } = Astro.props;
const Tag = tagType;
const { title, date, author, image, description, category } = frontmatter.data;
---

<!-- <pre>{ JSON.stringify(frontmatter,null,2)}</pre> -->
<article class="card mt-8">
  <small class="">
    <a
      href={`/category/${slugify(category)}/`}
      class="text-white bg-slate-950 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-2 py-2 mr-2 mb-2 dark:bg-black dark:hover:bg-slate-950 focus:outline-none dark:focus:ring-blue-800 mt-4"
      >{category}</a
    >
  </small>

  <div class="card card-compact w-96 bg-base-100 shadow-xl">
    <figure>
      <a href={`/blog/${frontmatter.slug}`} aria-hidden="true" tabindex="-1">
        <img src={image.src} alt={image.alt} />
      </a>
    </figure>
    <div class="card-body">
      <h2 class="card-title dark:text-white">
        <a href={`/blog/${frontmatter.slug}`}>{title}</a>
      </h2>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> - {
          formatDate(date.toDateString())
        }
      </small>
      <p class="my-8">{description}</p>
      <div class="card-actions justify-end">
        <Link
          href={`/blog/${frontmatter.slug}`}
          isFilled={true}
          text="Read Post"
          style="secondary"
        />
      </div>
    </div>
  </div>

  <!-- <a href={`/blog/${frontmatter.slug}`} aria-hidden="true" tabindex="-1">
      <img class="mt-2" src={image.src} alt={image.alt} width="200" />
    </a> -->
</article>
