---
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
// util imports
import { formatBlogPostsCollections } from "../js/utils";
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import PostCardProps from "../components/PostCardProps.astro";

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPostsCollections(allPosts, {
  sortByDate: false,
});

const { frontmatter, url } = Astro.props;

const { title, description, date, category, image, author } = frontmatter;

const relatedPosts = formattedPosts.filter(
  (post) =>
    post.data.category.toLowerCase() === category.toLowerCase() &&
    post.data.title !== title
);
---

<MainLayout
  {title}
  {description}
  {image}
  {frontmatter}
  robots={frontmatter.robots}
>
  <!--
  <PostHeader {category} tagType="h3" />
 -->

  <CategoryCloud />
  <PostCardProps {title} {date} {author} {image} {description} {category} />
  <div class="mx-auto">
    <div class="mt-4 p-8 grid grid-cols-1 gap-6 md:grid-cols-3">
      <div class="mt-4 w-full col-span-2">
        <slot />
      </div>

      <div class="sidebar w-full">
        <aside class="container" aria-label="Blog Categories">
          <h2 class="text-3xl font-bold mt-4">Categorías</h2>
          <CategoryCloud />
        </aside>
        {
          relatedPosts.length > 0 && (
            <aside class="container" aria-label="Related posts">
              <h2 class="text-3xl font-bold mt-4 ml-6">
                Productos relacionados
              </h2>
              <RelatedPosts {relatedPosts} />
            </aside>
          )
        }
      </div>
    </div>
  </div>
</MainLayout>
