---
const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;

import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en" data-theme="light">
  <MainHead {title} {description} {image} {frontmatter} {robots} />
  <body class="bg-gradient2">
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
